{
  "presets": [
    "next/babel",
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["module-resolver", {
      "alias": {
        "^react-native$": "react-native-web",
        "@expo/vector-icons": "react-native-vector-icons",
        "react-native-vector-icons": "@expo/vector-icons"
      }
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}
